@import "./mobile/index.module.scss";

.usersContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

@include laptop();
@include tablet();
@include mobile768();
@include mobile640();
@include mobile480();
